<div class="flex flex-col items-center justify-center">
    <ul>
        <ng-container *ngIf="nevek.length>0;else ureslista">
            <ng-container *ngFor="let nev of nevek;let i=index">
                 <li>{{nev}} <button class="btn btn-secondary" (click)="nevTorles(i)">Törlés</button></li>   
            </ng-container>
        </ng-container>
    </ul>
    <ng-container *ngIf="nevek.length<=10;else telelista">
        <div class="flex flex-col items-center justify-center">
            <form (submit)="nevHozzaad($event)">
                <input type="text" placeholder="Név" id="nev" name="nev" class="input input-primary" />
                <button class="btn btn-primary">Új név</button>

            </form>
        </div>
    </ng-container>
</div>

<ng-template #ureslista>
    <p class="text-3xl text-center font-bold text-red-600">A lista üres!</p>
</ng-template>
<ng-template #telelista>
    <p class="text-3xl text-center font-bold text-red-600">A lista megtelt!</p>
</ng-template>